$color-dark: #1B1B1E;
$color-primary:#373F51;
$color-primary-light: #58A4B0;
$color-primary-light-2: #A9BCD0;
$color-light: #D8DBE2;
$color-danger: #DB504A;
$color-danger-2: #EF6461;
$color-white: #fff;
$color-grey: #777;
$color-black: #000;